-content_for :dyn_js do
	:plain
		<script type="text/javascript">
			$(function(){
				// Slider
				$('.slider').slider({
					value: 5,
					min: 0,
					max: 10,
					step: 1,
					range: 'min',
					stop: function ( event, ui ) {
						UpdateTotalPoints($(this).attr('id').replace('slider', ''));
					},
					change: function ( event, ui ){
						$('#' + $(this).attr('id') + '_value').val(ui.value);
					}
				});
				// Buttons
				$(function() {
					//$('#radio').buttonset();
					$('#radio').click(function(){$('#sliders').show();});
				});
				UpdateTotalPoints();
			});
			function GiveMeTotalPoints(){
				var TotalPoints = 0;
				$('.slider').each(function(){
					TotalPoints += parseInt($(this).slider('value'));
					$('#' + $(this).attr('id') + '_value').val($(this).slider('value'));
				});
				return TotalPoints;
			}

			function UpdateTotalPoints(Id){
				var RemainingPoints = 45 - GiveMeTotalPoints();
				
				var Counter = 0;
				if(Id != undefined){
					Counter = (Id + 1) % 9;
				}
				var IncrementalValue;
				if(RemainingPoints < 0) IncrementalValue = 1;
				if(RemainingPoints > 0) IncrementalValue = -1;
				while(RemainingPoints != 0){
					var CounterId = 'slider' + Counter;
					var CurrentId = 'slider' + Id;
					if(CurrentId != CounterId){
						var NewValue = $('#' + CounterId).slider('value') - IncrementalValue;
						if(NewValue >= 0 && NewValue <= 10){
							$('#' + CounterId).slider('value', $('#' + CounterId).slider('value') - IncrementalValue);
							RemainingPoints += IncrementalValue;
						}
					}
					Counter = (Counter + 1) % 9;
				}
			}
		</script>
#contenidor       
	#head
		<img src="http://www.albertbalaguero.com/aquiosquedais/imatges/aquiosquedais_head.jpg" border="0" />
	#menu
		= form_tag('/submit', :method => "post") do
			
			<font class="seleccionat">Inicio</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="project" target="_self">El proyecto</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="team" target="_self">Equipo</a></div>
			#pastilla_negra_funciona    
				.titol_pastilla_verd
					¿Cómo funciona?
				.text_general_blanc
					<br /><br />Aquíosquedáis.com es una página web en la que podréis averiguar cuál sería vuestra Comunidad Autónoma ideal para vivir según tus preferencias en relación a la economía, la sanidad o el medio ambiente, entre otros.
					Para ello sólo tienes que indicar la comunidad autónoma donde resides y valorar a qué categorías das más prioridad dentro del listado de preferencias que te presentamos. ¿Qué desearías que se tuviese más en cuenta en tu comunidad autónoma?  Según tu valoración te indicaremos la comunidad autónoma que se asemeja más a tus preferencias.
					Aquí os quedáis, yo me voy a … ¿cuál crees que sería tu comunidad autónoma ideal para vivir? Te invitamos a que lo averigües.
					<br/><br/>Nota: la barra de preferencias se te irá actualizando en función de la valoración que asignes en cada tema, de manera que si valoras muy positivamente un tema los otros deberán tener valoraciones más negativas. Mueve la barra hacia la derecha para dar más prioridad y hacia a la izquierda para dar menos prioridad.

			#pastilla_blanca_coms
				.titol_pastilla_verd
					¿En qué<br/>comunidad vives?
				.text_general
					<br/><br/>
					%div{:id=>"radio"}
						-Region.all.each do |region|
							=radio_button_tag("region_from_value", region.id)
							=label_tag('region_from_value_' + region.id.to_s, region.name)
							%br
								
		
			#pastilla_blanca_preferencies
				.titol_pastilla_verd
					¿Cuáles son<br/>tus preferencias?
				%div{:id => 'sliders', :class => 'text_general', :style => 'display: none;'}
					<br/><br/>
					Cultura: <div id="slider0" class="slider"></div><br/>
					Residuos peligrosos: <div id="slider1" class="slider"></div><br/>
					Economía: <div id="slider2" class="slider"></div><br/>
					Educación: <div id="slider3" class="slider"></div><br/>
					Medio ambiente: <div id="slider4" class="slider"></div><br/>
					Sanidad: <div id="slider5" class="slider"></div><br/>
					Immigración: <div id="slider6" class="slider"></div><br/>
					Protección social: <div id="slider7" class="slider"></div><br/>
					Desempleo: <div id="slider8" class="slider"></div><br/>
					
					%div{:id => 'boto'}
						= submit_tag("Enviar")
					
				=hidden_field_tag('slider0_value')
				=hidden_field_tag('slider1_value')
				=hidden_field_tag('slider2_value')
				=hidden_field_tag('slider3_value')
				=hidden_field_tag('slider4_value')
				=hidden_field_tag('slider5_value')
				=hidden_field_tag('slider6_value')
				=hidden_field_tag('slider7_value')
				=hidden_field_tag('slider8_value')

		:plain
			<div style="clear:both;"></div>
			<div id="footer">Proyecto realizado para <a href="http://www.abredatos.es" target="_blank">Abredatos 2011</a>. Si te gusta nuestro proyecto, vótanos!</div> <!--Fi footer-->	
