#contenidor       
  #head
    <img src="http://www.albertbalaguero.com/aquiosquedais/imatges/aquiosquedais_head.jpg" border="0" />
  #menu    
    <a href="/" target="_self">Inicio</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="seleccionat">El proyecto</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="team" target="_self">Equipo</a></div>


    #destacat_negre
      .destacat_text_petit           
        ¿Me voy o me quedo?
      .destacat_text_gran           
        ÉSTA ES LA CUESTIÓN...
                                   
    #pastilla_blanca_projecte
      .titol_pastilla_negre
        El proyecto
      .text_general
        <br /><br />Color del text #717171<br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum fringilla arcu lobortis imperdiet. Morbi non risus nisi, n
        Fusce tincidunt congue pulvinar. Aenean egestas tempus volutpat. Donec cursus aliquet sapien vel aliquam. Quisque tempor luctus nunc, a mattis arcu bibendum eu. Aenean sa


    #pastilla_blanca_dades
      .titol_pastilla_negre
        Datos consultados<br/>y funcionamiento
      .text_general
        <br /><br />Color del text #717171<br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rutrum fringilla arcu lobortis imperdiet. Morbi non risus nisi, n
        Fusce tincidunt congue pulvinar. Aenean egestas tempus volutpat. Donec cursus aliquet sapien vel aliquam. Quisque tempor luctus nunc, a mattis arcu bibendum eu. Aenean sa

    #pastilla_blanca_twitter
      .titol_pastilla_negre                                    
        AQUÍOSQUEDÁIS<br/> en Twitter                                            
      .text_general
        :plain
          <br/><br/>
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'aquiosquedais',
            interval: 6000,
            title: 'Aquí os quedáis?',
            subject: '',
            width: 215,
            height: 400,
            theme: {
              shell: {
                background: '#04c153',
                color: '#ffffff'
              },
              tweets: {
                background: '#eeeeee',
                color: '#333333',
                links: '#04c153'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: false,
              avatars: true,
              toptweets: true,
              behavior: 'default'
            }
          }).render().start();
          </script>
              </div>
          </div>