#contenidor       
  #head
    <img src="http://www.albertbalaguero.com/aquiosquedais/imatges/aquiosquedais_head.jpg" border="0" />
  #menu    
    <a href="/" target="_self">Inicio</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="seleccionat">El proyecto</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="team" target="_self">Equipo</a></div>


    #destacat_negre
      .destacat_text_petit           
        ¿Me voy o me quedo?
      .destacat_text_gran           
        ÉSTA ES LA CUESTIÓN...
                                   
    #pastilla_blanca_projecte
      .titol_pastilla_negre
        El proyecto
      .text_general
        <br /><br />
        Enmarcado dentro del concurso Desafío Abredatos 2011, en el que se debe crear una aplicación web en 48h utilizando datos públicos, hemos creado aquíosquedáis.com en el que se analizan y comparan datos de carácter social entre las diferentes comunidades autónomas de España, y las preferencias de sus ciudadanos. Con ello podremos averiguar que migraciones se producirían dentro de nuestro país si únicamente tuviéramos en cuenta éstas preferencias
        

    #pastilla_blanca_dades
      .titol_pastilla_negre
        Datos consultados<br/>y funcionamiento
      .text_general
        <br /><br />
        Esta aplicación utiliza datos extraídos del Instituto Nacional de Estadística. Por el momento sólo se han analizado un total de nueve indicadores para cada Comunidad Autónoma, relacionados con la Cultura, los residuos peligrosos, la economía, la educación, la sanidad, el medio ambiente, la inmigración, la protección social y el desempleo.
        <br /><br />Cada visitante podrá introducir sus preferencias y descubrir cuál sería su Comunidad Autónoma española ideal para vivir. Además podrá compara su Comunidad con las del resto de España, así como descubrir hacia dónde migraríamos teniendo en cuenta éstas preferencias.
        
    #pastilla_blanca_twitter
      .titol_pastilla_negre                                    
        AQUÍOSQUEDÁIS<br/> en Twitter                                            
      .text_general
        :plain
          <br/><br/>
          <script src="http://widgets.twimg.com/j/2/widget.js"></script>
          <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'aquiosquedais',
            interval: 6000,
            title: 'Aquí os quedáis?',
            subject: '',
            width: 215,
            height: 400,
            theme: {
              shell: {
                background: '#04c153',
                color: '#ffffff'
              },
              tweets: {
                background: '#eeeeee',
                color: '#333333',
                links: '#04c153'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: false,
              avatars: true,
              toptweets: true,
              behavior: 'default'
            }
          }).render().start();
          </script>
              </div>
          </div>
