#contenidor       
  #head
    <img src="http://www.albertbalaguero.com/aquiosquedais/imatges/aquiosquedais_head.jpg" border="0" />
  #menu    
    <a href="/" target="_self">Inicio</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="project" target="_self">El proyecto</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font class="seleccionat">Equipo</font></div>


    #destacat_negre
      .destacat_text_petit           
        El equipo
      .destacat_text_gran           
        PROGRAMACIÓN, DISEÑO Y COMUNICACIÓN
                                   
    #col1
      .pastilla_integrant 
        .nom_integrant    
          Francesc Masana
        .carrec_integrant
          Programación
        .text_general
          <br />48 horas por delante, un grupo excepcional, una misión, un deseo,  más de 3000 líneas de código, espero que os guste.
          

      .pastilla_integrant 
        .nom_integrant    
          Ricard Espelt
        .carrec_integrant
          Comunicación
        .text_general
          <br />"Si no haces nada sorprendente, nada sorprendente pasará" dice mi perfil de Twitter. Me gusta construir sobre el entorno móvil en el que nos encontramos. Bajo mi óptica el camino es más importante que el resultado final, por lo tanto valoro la pasión del momento y trato de estar bien acompañado ;)
 

    #col2
      .pastilla_integrant 
        .nom_integrant    
          Albert Brufau
        .carrec_integrant
          Programación
        .text_general
          <br />"Para estar hecho en menos de 48 horas (idea, diseño y programación), tampoco está mal... " : )

      .pastilla_integrant 
        .nom_integrant    
          Albert Balagueró
        .carrec_integrant
          Diseño gráfico
        .text_general
          <br />Personalmente creo que, en la actual era de la información, “menos es más”. El diseño debe crear la forma en función, pues eso, de la función, valga la redundancia. Los datos son lo más importante de este proyecto, por eso el diseño debe reflejarlos con claridad, estructurados y sin mostrar gráficas innecesarias. Así hemos tratado nuestro proyecto web.
          <br /><br />Deseamos que os sea útil para visualizar lo que queremos mostraros.
    :plain
      <div style="clear:both;"></div>
      <div id="footer">Proyecto realizado para <a href="http://www.abredatos.es" target="_blank">Abredatos 2011</a>. Si te gusta nuestro proyecto, vótanos!</div> <!--Fi footer-->			


